<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Book Management</title>
</head>
<body>

<footer class="main-footer" th:fragment="footer">
    <strong>Copyright &copy; 2014-2018 <a href="http://adminlte.io">Admin Book Store</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.0-Book Management
    </div>
</footer>

</body>
</html>